@media screen and (max-width:1200px){
.RecentWork .box {
    width: 48.5%;
}
}
@media screen and (max-width:1120px){
.Talented .Instragram {
    float: none;
    margin: 0 auto;
}
.Talented .ConText {
    margin: 0 auto;
    max-width: 600px;
    padding: 40px 0;
}
}
@media screen and (max-width:1050px){
.RecentWork .box,.RecentWork .box.even  {
    float: none;
    margin: 0 auto 30px;
	max-width:480px;
	width:100%;
}
}
@media screen and (max-width:992px){
.image_size{
	margin:0 auto 30px;
}
.PostThumb img {
    width: 100%;
}
.HeaderBottom h2, .TopTitle{
	font-size:58px;
}
.Projects_ .cuadro_intro_hover {
    max-width: 510px;
    margin: 0 auto 30px;
}
}
@media screen and (max-width:950px){
.Talented .pull-left {
    max-width: 720px;
    float: none !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 20px !important;
}
}
@media screen and (max-width:778px){
.social_media {
    font-size: 12px;
}
.PostPage .PostContent{
	padding:0;
}
.NowCon h1 {
    padding-bottom: 30px;
}
}
@media (max-width: 768px){
.PostThumb img {
    width: auto;
}
.Reading .ContentBody .col-sm-4 {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}
}
@media screen and (max-width:767px){
header ul.menu {
   width: 100%;
}
header .main_menu{
	float:none;
}
header .main_menu ul li {
    display: block;
}
header .main_menu ul li a {
    display: block;
    padding: 5px 15px;
	font-size:44px;
	line-height:55px;
	font-family: 'CircularStd-Medium';
}
.SliderSection .col-sm-5{
	display:none;
}
.SliderSection .col-sm-7 {
    width: 100%;
}
header.bg{
	background:none;
}
}
@media screen and (max-width:740px){
.Talented .Instragram {
    max-width: 320px;
}
.Talented .thumb{
	width:160px;
	height:160px;
}
}
@media screen and (max-width:668px){
.HeaderBottom h2, .TopTitle{
	font-size:30px;
	line-height:normal;
}
.HeaderBottom {
    padding: 80px 0 30px;
}
.RecentWork h2.TopTitle {
    font-size: 36px;
    line-height: normal;
    text-align: center;
    padding-bottom: 20px;
}
.RecentWork h2 {
    padding: 20px 0;
    line-height: normal;
    font-size: 32px;
}
.read_more a {
    font-size: 24px;
    line-height: normal;
}
.SliderContent h1 {
    font-size: 44px;
    line-height: normal;
}
.SliderContent h3, .PostTop h2, .help_box h3{
    font-size: 22px;
    line-height: 28px;
}
.help_box h3{
	line-height:24px;
	padding-bottom:15px;
}
.SliderContent p{
	font-size:16px;
}
.slider_caption {
    right: 10px;
}
h1.title{
	font-size:44px;
	line-height:55px;
}
.TitleSection h4, .PostTop .container, .PostPage, .help_box, .SubTitle{
	font-size:14px;
	line-height:25px;
}
.read_all.pull-right {
    float: none !important;
}
.read_all a {
    width: 300px;
}
.NowSlider .SliderContent h1, .SliderContent h1, .TopSection h1{
	font-size:44px;
	line-height:55px;
	text-align:justify;
}
.TopSection h3, .PostContent h2{
	font-size:20px;
	line-height:28px;
}
.MainSlider.PostSlider {
    min-height: 180px;
}
.PostContent h2{
	padding-bottom:10px;
}
.PostQuote{
	padding:10px 0;
	font-size:18px;
	line-height:28px;
}
.help_box h4{
	font-size:16px;
	line-height:20px;
	padding-top:22px;
}
h1.HeadingTitle{
	font-size:44px;
	line-height:55px;
	padding-bottom:10px;
}
.SubTitle{
	padding-bottom:25px;
}
.slider_caption h3{
	font-size:20px;
	line-height:24px;
}
.SLCon{
	display:none;
}
.slider_image{
	height:240px;
}
}
@media screen and (max-width:550px){
.RecentWork .box {
    width: 100%;
    max-width: 510px;
}
.PostBox{
	height:180px;
}
.Projects_ img {
    width: 100%;
}
.Projects_ .cuadro_intro_hover {
    max-width: 320px;
    height: 226px;
}
.box_title {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
}
.box_content {
    display: none;
}
}