@media screen and (max-width:1200px){
.RecentWork .box {
    width: 48.5%;
	height: 100%;
    min-height: 322px;
}
.RecentWork .box img {
    width: 100%;
}
.box_title {
    line-height: 33px;
    font-size: 25px;
}
}
@media screen and (max-width:1120px){
.Talented .Instragram {
    float: none;
    margin: 0 auto;
	max-width:768px;
}
.Talented .ConText {
    margin: 0 auto;
    max-width: 600px;
    padding: 40px 0;
}
.Talented .thumb{
	width:192px;
	height:192px;
}
}
@media screen and (max-width:992px){
.RecentWork .box {
    min-height: 248px;
}
.image_size{
	margin:0 auto 30px;
}
.PostThumb img {
    width: 100%;
}
.HeaderBottom h2, .TopTitle{
	font-size:52px;
	line-height:68px;
}
.Projects_ .cuadro_intro_hover {
    max-width: 510px;
    margin: 0 auto 30px;
}
.RecentWork .box.white{
	padding:24px 10px 20px 20px;
}
.box_title {
    font-size: 22px;
    line-height: 32px;
    padding: 12px 0;
}
.box_content {
    font-size: 14px;
    line-height: 24px;
}
}
@media screen and (max-width:950px){
.Talented .pull-left {
    max-width: 720px;
    float: none !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 20px !important;
}
}
@media screen and (max-width:778px){
.RecentWork .box {
    min-height: inherit;
}
.social_media {
    font-size: 12px;
}
.NowCon h1 {
    padding-bottom: 30px;
}
}
@media screen and (max-width: 768px){
.RecentWork .box.white{
	padding-bottom:26px;
}
.PostThumb img {
    width: auto;
}
.Reading .ContentBody .col-sm-4 {
    max-width: 350px;
    margin: 0 auto;
}
.RecentWork h2 {
    font-size: 44px;
    line-height: 56px;
    padding: 40px 0 82px;
}
.RecentWork h2.TopTitle {
  font-size: 52px;
  line-height: 68px;
}
.HeaderBottom{
	padding:320px 0 0;
}
.HeaderTop{
	padding:12px 0;
}
.HeaderBottom h2, .TopTitle{
	padding:20px 0;
}
/*}
@media screen and (max-width:767px){
*/
.navbar-header {
    float: right;
}
.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
}
header ul.menu {
   width: 100%;
}
header .container .main_menu {
    float: none;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
}
header .main_menu ul li {
    display: block;
}
header .main_menu ul li a {
    display: block;
    padding: 5px 15px;
	font-size:44px;
	line-height:55px;
	font-family: 'CircularStd-Medium';
}
.SliderSection .col-sm-5{
	display:none;
}
.SliderSection .col-sm-7 {
    width: 100%;
}
header.bg{
	background:none;
}
.Talented .ConText {
  font-size: 24px;
  line-height: 44px;
}
.FooterTop .widget_title {
  font-size: 38px;
  line-height: 52px;
}
.span_row .span6 {
  float: left;
  padding: 0 15px;
  width: 50%;
}
.span_row {
  margin: 0 -15px;
}
.FooterTop .pull-right {
    float: none !important;
}
.Footer .col-sm-4 {
  float: left;
  width: 48%;
}
.FooterTop{
	padding:75px 0 70px;
}
.DText{
	max-width:inherit;
}
.Footer .col-sm-8 {
  float: left;
  width: 50%;
}
header.bg {
  height: inherit !important;
}
.NowSlider .SliderContent h1 {
  font-size: 80px;
  line-height: 92px;
  text-align: left;
}
.MainSlider.NowSlider {
  padding: 156px 0 144px;
}
.ContentBody.StandardBlog {
  padding-bottom: 128px;
  padding-top: 56px;
}
.NowCon h2{
	padding-bottom:40px;
}

.NowPage .NowSlider .SliderContent h1 {
  font-size: 110px;
  line-height: 160px;
  text-align: center;
}
.NowPage .MainSlider.NowSlider {
  padding: 110px 0 66px;
}
.ContentBody.Now {
  padding-top: 68px;
}
.NowPost .col-sm-10 {
  float: left;
  width: 82%;
}
.NowPost .col-sm-2 {
  float: left;
  width: 18%;
}
.NowPost {
  padding: 22px 0;
}
.NowCon h2.NowFirstContact {
  padding-bottom: 40px;
}
.TopSection h1, h1.title{
  font-size: 58px;
  line-height: 74px;
  padding-bottom: 15px;
}
.container.text_con{
	padding-top:68px;
}
.ContentBody{
	padding-top:45px;
}
.text_con h3 {
  font-size: 22px;
  line-height: 32px;
}
.Reading .ContentBody .col-sm-4 {
  float: left;
  max-width: 332px;
}
.Reading .ContentBody .row {
  margin: 0 auto;
  max-width: 664px;
}
.TitleSection h4{
	padding-top:0;
}
.TitleSection {
  padding-bottom: 60px;
  padding-top: 72px;
}
.AllArticle {
  margin: 0 auto;
  max-width: 740px;
}
.RecentPost .post_p {
  float: left;
  width: 50%;
}
.RecentPost .thumb{
	height:190px;
}
.PostTop .container{
	padding-top:78px;
	padding-bottom:30px;
}
.PostTop h2{
	letter-spacing:-1px;
}
.MainSlider.PostSlider {
  min-height: 360px;
}
.ContentBody.PostPage {
  padding-top: 70px;
}
.PostContent h2 {
  font-size: 28px;
  line-height: 34px;
}
.PostBox {
  height: 408px;
  margin: 0 auto;
  max-width: 710px;
}


.SliderSection {
  padding: 28px 0 180px;
}
.SliderBox{
	margin: 0 auto;
  max-width: 682px;
}
.slider_image{
  height: 390px;
  
}
.slider_caption{
	left:20px;
	right:20px;
	bottom:-128px;
}
.RecentPost {
  margin: 0 auto;
  max-width: 712px;
}
.RecentPost .post_p {
  padding-bottom: 20px;
}
.Projects_.container .row {
  margin: 0 auto;
  max-width: 710px;
}
.Projects_.container .col-md-6 {
  float: left;
  width: 50%;
}
.Projects_.container img {
  width: 100%;
}
}
@media screen and (max-width:740px){
.RecentWork .box, .RecentWork .box.even{
	    float: none;
    margin: 0 auto 20px;
    width: 100%;
    max-width: 450px;
}

}
@media screen and (max-width:740px){
.Talented .Instragram {
    max-width: 320px;
}
.Talented .thumb{
	width:160px;
	height:160px;
}
}
@media screen and (max-width:668px){
.HeaderBottom h2, .TopTitle {
    font-size: 36px;
    line-height: 40px;
}
.HeaderBottom h2{
	padding-bottom:0;
}
.HeaderBottom {
  padding: 234px 0 12px;
}
.RecentWork h2.TopTitle {
  font-size: 30px;
  line-height: 36px;
  padding: 15px 0;
}
.RecentWork h2 {
  font-size: 30px;
  line-height: 36px;
  padding: 40px 0;
}
.RecentWork .box, .RecentWork .box.even{
	margin-bottom:12px;
}

.read_more a {
    font-size: 24px;
    line-height: normal;
}
.SliderContent h1 {
    font-size: 44px;
    line-height: normal;
}
.SliderContent h3, .help_box h3{
    font-size: 22px;
    line-height: 26px;
}
.help_box h3{
	line-height:24px;
	padding-bottom:15px;
}
.SliderContent p{
	font-size:16px;
	line-height:26px;
}
.slider_caption {
    right: 10px;
}
h1.title{
	font-size:44px;
	line-height:55px;
}
.TitleSection h4, .PostTop .container, .PostPage, .help_box, .SubTitle{
	font-size:14px;
	line-height:25px;
}
.read_all.pull-right {
    float: none !important;
}
.read_all a {
    width: 300px;
}
.NowSlider .SliderContent h1, .SliderContent h1, .TopSection h1{
	font-size:44px;
	line-height:55px;
}
.TopSection h3, .PostContent h2{
	font-size:20px;
	line-height:28px;
}
.MainSlider.PostSlider {
    min-height: 180px;
}
.PostContent h2{
	padding-bottom:10px;
}
.PostQuote{
	padding:10px 0;
	font-size:18px;
	line-height:28px;
}
.help_box h4{
	font-size:16px;
	line-height:20px;
	padding-top:22px;
}
h1.HeadingTitle{
	font-size:44px;
	line-height:55px;
	padding-bottom:10px;
}
.SubTitle{
	padding-bottom:25px;
}
.slider_caption h3 {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 5px;
}
.SLCon{
	display:none;
}
.slider_image{
	height:240px;
}
}
@media screen and (max-width:550px){
.PostBox{
	height:180px;
}
.Projects_ img {
    width: 100%;
}
.Projects_ .cuadro_intro_hover {
    max-width: 320px;
    height: 226px;
}
.box_title {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
}
.Footer .col-sm-8{
	float:none;
	width:100%;
	font-size: 14px;
	line-height: 26px;
	color: #818181;
}
.Footer .col-sm-4 {
  float: none;
  width: 100%;
}
.Footer .span6{
	display:none;
}
.Footer .span6.social_media{
	display:block;
	width:100%;color: #EC008C;
}
.Footer .span6.social_media a{
	color: #EC008C;
	font-size:14px;
}
.span_row .span6 {
  float: none;
  width: 100%;
}
.MainSlider{
	padding:58px 0 50px;
}
.SliderContent h3{
	padding-bottom:15px;
}
.SliderContent p{
	padding:20px 0;
}
.SliderContent h4{
	padding-top:22px;
}
.ContentBody{
	padding:42px 0 17px;
}
.ContentBody h3{
	padding-bottom:12px;
}
.ContentBody .col-sm-4 {
  padding-bottom: 32px;
}
.NowSlider .SliderContent h1 {
  font-size: 44px;
  line-height: 55px;
}
.MainSlider.NowSlider {
  padding: 137px 0 98px;
}
.ContentBody.StandardBlog {
  padding-bottom: 128px;
  padding-top: 28px;
}
.NowCon h2 {
  font-size: 20px;
  line-height: 28px;
  padding-bottom:20px;
}
.ContentBody .NowCon {
  font-size: 14px;
  line-height: 26px;
}
.ContentBody .NowCon p {
  margin: 0;
  padding: 14px 0;
}
.NowPage .NowSlider .SliderContent h1 {
  font-size: 80px;
  line-height: 92px;
}
.NowPage .MainSlider.NowSlider {
  padding: 118px 0 78px;
}
.ContentBody.Now {
  padding-top: 28px;
}
.NowCon h1 {
  font-size: 70px;
  line-height: 54px;
}
.ContentBody h3 {
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 5px;
}
.NowPost .col-sm-10 {
  width: 100%;
}
.container.text_con {
  padding-top: 44px;
}
.Reading .TopSection h1 {
  font-weight: 700;
  padding-bottom: 26px;
}
.TopSection h3 {
  font-size: 16px;
  line-height: 26px;
}
.Reading .ContentBody .col-sm-4 {
  float: none;
  margin: 0 auto;
  padding: 0;
  width: 280px;
}
.PostThumb img {
  width: 100%;
}
.TitleSection {
  padding-bottom: 22px;
  padding-top: 45px;
}
h1.title {
  line-height: 55px;
}
.TitleSection h4 {
  font-size: 12px;
  line-height: 22px;
}
.RecentPost .post_p {
  float: none;
  margin: 0 auto;
  width: 310px;
}
.RecentPost .thumb {
  height: 160px;
}
.PostTop h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
}
.PostTop .container {
  padding-bottom: 10px;
  padding-top: 40px;
}
.ContentBody.PostPage {
  padding-top: 24px;
  padding-bottom:60px;
}
h2.large_title {
  padding-top: 5px;
}
.slider_caption {
  bottom: -45px;
  left: 10px;
  padding: 13px 17px 13px;
  right: 10px;
}
.SliderBox .date_publish {
  display: block;
  padding: 0;
}
.SliderSection {
  padding-bottom: 82px;
}
.help_box {
  margin: 0 10px;
  padding: 35px 15px 34px 25px;
}
h1.HeadingTitle {
  font-size: 38px;
  line-height: 44px;
}
.SubTitle {
  margin: 0 20px;
  width: auto;
}
.Projects_.container {
  padding: 0 0 80px;
}
.Projects_.container .col-md-6 {
  float: none;
  padding: 5px 10px;
  width: 100%;
}
.Talented .ConText {
    font-size: 18px;
    line-height: 26px;
    padding: 44px 20px 66px;
    color: #EC008C;
}
.FooterTop .widget_title{
	font-size:30px;
	line-height:36px;
}
.FooterTop {
    padding: 48px 0 70px;
}
.DText p {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding-bottom: 20px;
}
}
@media screen and (max-width:380px){
.RecentWork .box, .RecentWork .box.even{
	min-height:inherit;
}
}
@media screen and (max-width:720px){
}
@media screen and (max-width:600px){
}
@media screen and (max-width:480px){
}
@media screen and (max-width:360px){
}